/* chuyển về các setup ban đầu */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
:root {
  --bg-all--: rgb(223, 240, 213);
}
/* common */
.container {
  width: 70vw;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
/* header */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-top {
  background-image: url(./tt.jpg);
  background-size: cover;
  padding-bottom: 30px;
}
.header-top .container {
  padding-top: 20px;
  display: grid;
  height: 150px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(3, 1fr);
  grid-template-areas:
    'logo letter letter letter letter letter'
    'logo search search search search search';
  column-gap: 5px;
  row-gap: 5px;
}
.web-logo {
  grid-area: logo;
  width: 140px;
}
.header-top .header-letter {
  grid-area: letter;
  height: 80px;
  font-family: 'Bungee Tint', sans-serif;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.search-container {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;
}
.search-container input[type='text'] {
  padding: 10px;
  font-size: 1.6rem;
  border: 2px solid #ccc;
  border-radius: 50px;
  width: 400px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.search-container input[type='text']:focus {
  border-color: #4caf50;
  outline: none;
}

.search-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.search-btn:hover {
  background-color: #45a049;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.search-btn:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}
.highlight {
  background-color: yellow;
}
/* Ẩn header letter khi màn hình nhỏ hơn 768px */
@media screen and (max-width: 768px) {
  .header-top .header-letter {
    display: none;
  }
}
/* navigation bar */
.nav-bar {
  background-color: green;
}
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
#toggle {
  display: none;
  background: grey;
  padding: 10px;
  cursor: pointer;
}
.navbar-item {
  font-weight: bold;
  padding: 10px;
}
.navbar-link {
  color: orange;
  font-size: 1.5rem;
}
.nav-bar .navbar-link:nth-last-of-type(n + 2) {
  padding-left: 5px;
}
.navbar-item:hover,
.navbar-item-active {
  text-shadow: 1px 0 0 rgb(23, 22, 22);
  background: rgb(199, 223, 199);
  transition: all 0.5s;
}
/* Ẩn input và nút tìm kiếm khi màn hình nhỏ hơn 768px */
@media screen and (max-width: 768px) {
  .navbar-list {
    position: absolute; /* Đặt ở vị trí tuyệt đối */
    flex-direction: column;
    display: none;
    align-items: flex-start;
    background-color: #f1efef;
    width: 70vw;
    z-index: 100; /* Đảm bảo nằm trên các phần tử khác */
  }
  .navbar-item {
    width: 70vw;
  }
  .nav-bar:hover .navbar-list {
    display: flex; /* Hiển thị danh sách khi di chuột vào navbar */
  }
  #toggle {
    display: block;
  }
  .nav-bar {
    background-color: #fff;
  }
}
/* slide show */
.main_content {
  padding-bottom: 100px;
}
.main_content .introduction {
  padding-top: 10px;
  display: flex;
}
.int-overview h1 {
  font-size: 2.3rem;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.int-overview ul,
.int-overview p {
  font-size: 1.5rem;
  padding-top: 5px;
}
.int-overview {
  width: 50vw; /* Đặt chiều rộng theo mong muốn */
  max-height: 100%; /* Đặt chiều cao tối đa để khớp với chiều cao của slide-show */
  overflow-y: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá */
  display: flex;
  flex-direction: column; /* Căn nội dung theo chiều dọc */
  box-sizing: border-box; /* Đảm bảo padding và border không làm ảnh hưởng đến kích thước */
  margin: 0 auto; /* Căn giữa nếu cần */
}
.main_content .container .slide-show {
  width: 100%; /* Chiều rộng của slide-show */
  position: relative;
  overflow: hidden;
  margin: 10px auto; /* Căn giữa slide-show */
  height: 100%; /* Đặt chiều cao tự động */
  display: block; /* Đảm bảo rằng slide-show là một khối */
}
.main_content .list-images {
  display: flex;
  transition: 0.5s;
  padding-bottom: 10px;
}
.main_content .slide-show .arrow {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 300%;
  color: #999;
  cursor: pointer;
}
.main_content .slide-show .arrow:hover {
  color: #fff;
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
.main_content .index-images {
  display: flex;
  position: absolute;
  bottom: 0.7vh;
  left: 50%;
  transform: translateX(-50%);
}
.main_content .index-item {
  border: 4px solid #999;
  padding: 1vh;
  margin: 0.5vh;
  border-radius: 50%;
}
.main_content .active {
  background-color: #999;
}
@media screen and (max-width: 1200px) {
  .header-top .header-letter {
    font-size: 3rem;
  }
  .introduction {
    flex-direction: column;
    align-items: flex-start;
  }
  .int-overview {
    width: 70vw;
    margin-bottom: 2px;
  }
  .main_content .container .slide-show {
    width: 100%;
    margin-left: 0;
  }
}
/* detailed slide */
.main_content .title {
  padding: 50px 0 40px 0;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
}
.main_content .title:hover {
  text-shadow: 3px 0 0 rgb(23, 22, 22);
  transition: all 0.3s;
}
.main_content .detailed {
  font-size: 2rem;
}
.main_content hr {
  margin-top: 20px;
}
.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 33.33%; /* Hiển thị 3 ảnh một lần */
  box-sizing: border-box;
}
.slides a:nth-of-type(n + 2) {
  margin-left: 20px; /* Tạo khoảng cách cho các hình ảnh thứ hai trở đi */
}
@media screen and (max-width: 768px) {
  .slide {
    min-width: 100%;
  }
  .slides a:nth-of-type(n + 2) {
    margin-left: 0px;
  }
}

.slide img {
  width: 100%;
  display: block;
}
.content-title button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 5rem;
  padding: 200px 10px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.sldr-1:hover .pr-1,
.sldr-1:hover .nxt-1,
.sldr-2:hover .pr-2,
.sldr-2:hover .nxt-2,
.sldr-3:hover .pr-3,
.sldr-3:hover .nxt-3,
.sldr-4:hover .pr-4,
.sldr-4:hover .nxt-4,
.sldr-5:hover .pr-5,
.sldr-5:hover .nxt-5,
.sldr-6:hover .pr-6,
.sldr-6:hover .nxt-6 {
  opacity: 1;
}
.prev {
  left: 0;
}

.next {
  right: 0;
}
.main_content .slide h1 {
  padding: 10px 0;
  font-weight: bold;
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
}
.main_content .slide p {
  font-size: 1.5rem;
  line-height: 1.5;
  max-height: 3.4em;
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
/* footer */
footer {
  background-color: green;
  background-size: cover;
  padding: 10px 0;
}

.footer-container .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-section {
  width: 30%;
}

.footer-container .footer-section h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: orange;
}

.footer-container .footer-section p,
.footer-container .footer-section a,
.footer-container .footer-section ul,
.footer-container .footer-section li {
  font-size: 1.2rem;
  color: wheat;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  color: wheat;
}
.footer-section ul li a {
  text-decoration: none;
  transition: color 0.3s;
  color: wheat;
}

.footer-section ul li a:hover {
  font-weight: bold;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;

  color: orange;
}
.footer-bottom a {
  color: orange;
  padding-bottom: 20px;
}
.footer-bottom a:hover {
  font-weight: bold;
}
.footer-bottom p {
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .footer-container .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-section {
    width: 70vw;
    margin-bottom: 2px;
  }
}
/* nút về đầu trang */

#btnTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 2.2rem;
  background-color: orange;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 60%;
}

#btnTop:hover {
  opacity: 100%;
}
/* ==========nút gọi điện */
.call-button {
  position: fixed;
  bottom: 140px;
  right: 20px;
  z-index: 99;
  font-size: 2.2rem;
  background-color: orange;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 60%;
}

.call-button:hover {
  opacity: 100%;
}
/* ==========nút email */
.email-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 99;
  font-size: 2.2rem;
  background-color: orange;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 60%;
}

.email-button:hover {
  opacity: 100%;
}
/* =======================html con */
.dt-bg {
  padding-top: 20px;
}
.dt-bg .info {
  display: flex;
}
.dt-bg .top-info {
  width: 35vw;
}
.container h1 {
  padding: 20px 0;
  font-size: 2.3rem;
  font-weight: bold;
  color: orange;
}
.dt-bg .top-info h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px 0;
}
.dt-bg .top-info p {
  padding-top: 10px;
}
.dt-bg iframe {
  margin: 20px 0;
  border: 1px solid #ccc;
}
@media screen and (max-width: 768px) {
  .dt-bg .info {
    flex-direction: column;
  }
  .dt-bg .top-info {
    width: 70vw;
  }
  .dt-bg iframe {
    width: 70vw;
  }
}
/* ===================trang con lv2 */
.main_content .lv1 {
  display: flex;
}
@media screen and (max-width: 768px) {
  .main_content .lv1 {
    flex-direction: column;
  }
  .lv1 .old-title,
  .lv1 h3,
  .lv1 hr,
  .lv1 h4,
  .lv1 .description,
  .new-info .booking,
  .new-info .contact-to-me,
  .new-info iframe,
  .new-info .book-des {
    width: 70vw;
  }
}
.main_content .old-info h3 {
  text-align: center;
  margin-top: 20px;
  color: #999;
}
.main_content .old-info .slogan {
  color: green;
  font-size: 2.2rem;
}
.main_content .old-info h4 {
  font-style: italic;
  color: #999;
}
.main_content .lv1 .old-info {
  width: 60vw;
  margin-right: 20px;
}
.main_content .lv1 .new-info {
  width: 20vw;
  padding-top: 70px;
}

.lv1 .old-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  color: orange;
}
.lv1 .old-title:hover {
  text-shadow: 3px 0 0 rgb(23, 22, 22);
  transition: all 0.3s;
}
.main_content .lv1 img {
  display: block;
  width: 100%;
}
.lv1 .description h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px 0;
  margin-top: 20px;
  color: green;
}
.lv1 .description p {
  font-style: italic;
  padding: 5px 0;
}
.new-info .booking {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.new-info .contact-to-me {
  font-weight: bold;
  font-size: 2.2rem;
  padding-bottom: 20px;
  color: green;
}
.new-info .booking .btn {
  font-size: 1.3rem;
  text-align: center;
  background-color: red;
  border: none;
  color: wheat;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0 10px;
}
.new-info .booking .btn:hover {
  background-color: #3e8e41;
  transition: 0.3s;
  border: none;
}
.new-info iframe {
  height: 40vh;
  border: 2px solid black;
  padding-bottom: 20px;
}
.new-info .book-des p {
  font-weight: bold;
  color: green;
}
.new-info .book-des a {
  color: green;
  font-size: 1.8rem;
}
.container h3 {
  font-size: 2rem;
  font-weight: bold;
}
.container li,
.container p {
  padding: 10px 0;
  font-size: 1.8rem;
}
/* ===================Trang thứ */
.main_content .Page-lv2 {
  display: flex;
  justify-content: space-between;
}
.main_content .List-location {
  min-width: 60vw;
  margin-right: 50px;
}
.List-location img {
  width: 100%;
}
.List-location .location-info {
  text-align: center;
}
.main_content .new-location {
  width: 20vw;
  margin-left: 30px;
  text-align: center;
}
.new-location .new-lct-info {
  text-align: center;
}
.new-location hr {
  margin: 10px 0;
}
.new-location .baivietmoi {
  color: #999;
}
.new-location .new-lct-info h2 {
  color: orange;
  font-weight: bold;
}
.new-location .new-lct-info:hover,
.List-location .location-info:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.new-location img {
  width: 100%;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .Page-lv2 {
    flex-direction: column;
  }
  .main_content .List-location {
    width: 70vw;
  }
  .main_content .new-location {
    width: 70vw;
    margin-left: 0;
  }
}
.listPage {
  padding: 10px;
  text-align: center;
  list-style: none;
}
.listPage li {
  background-color: #ffffffbd;
  padding: 10px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 10px;
}
.listPage li:hover,
.listPage .active {
  background-color: green;
  color: #fff;
  transition: 0.5s;
}
