/* chuyển về các setup ban đầu */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --bg-all--: rgb(223, 240, 213);
}
/* common */
.container {
  width: 1305px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
/* header */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-top {
  background-image: url(./tt.jpg);
  background-size: cover;
  padding-bottom: 30px;
}
.header-top .container {
  padding-top: 20px;
  display: grid;
  height: 150px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(3, 1fr);
  grid-template-areas:
    'logo letter letter letter letter letter'
    'logo search search search search search';
  column-gap: 5px;
  row-gap: 5px;
}
.web-logo {
  grid-area: logo;
  width: 120px;
}
.header-letter {
  grid-area: letter;
  height: 80px;
  font-family: 'Bungee Tint', sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.search-container {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;
}
.search-container input[type='text'] {
  padding: 10px;
  font-size: 1.6rem;
  border: 2px solid #ccc;
  border-radius: 50px;
  width: 400px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.search-container input[type='text']:focus {
  border-color: #4caf50;
  outline: none;
}

.search-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.search-btn:hover {
  background-color: #45a049;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.search-btn:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}
.highlight {
  background-color: yellow;
}
/* Ẩn input và nút tìm kiếm khi màn hình nhỏ hơn 768px */
@media screen and (max-width: 768px) {
  .search-container {
    display: none;
  }
  .header-letter {
    font-size: 30px;
  }
}
/* navigation bar */
.nav-bar {
  background-color: #dae547;
}
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
#toggle {
  display: none;
  background: grey;
  padding: 10px;
  cursor: pointer;
}
.navbar-item {
  font-weight: bold;
  padding: 10px;
}
.navbar-item:hover,
.navbar-item-active {
  text-shadow: 1px 0 0 rgb(23, 22, 22);
  background: rgb(199, 223, 199);
  transition: all 0.3s;
}
/* Ẩn input và nút tìm kiếm khi màn hình nhỏ hơn 768px */
@media screen and (max-width: 768px) {
  .navbar-list {
    flex-direction: column;
    display: none;
    align-items: flex-start;
    background-color: #f1efef;
  }
  #toggle {
    display: block;
  }
  .nav-bar {
    background-color: #fff;
  }
}
/* slide show */
.main_content .introduction {
  display: flex;
  padding-top: 20px;
}
.int-overview {
  width: 30vw;
  margin-right: 20px;
  padding: 2px;
  border: 1px solid #333;
}
.main_content .container .slide-show {
  width: 80%;
  position: relative;
  overflow: hidden;
}
.main_content .list-images {
  display: flex;
  transition: 0.5s;
  padding-bottom: 10px;
}
.main_content .slide-show .arrow {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 300%;
  color: #999;
  cursor: pointer;
}
.main_content .slide-show .arrow:hover {
  color: #fff;
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
.main_content .index-images {
  display: flex;
  position: absolute;
  bottom: 0.7vh;
  left: 50%;
  transform: translateX(-50%);
}
.main_content .index-item {
  border: 4px solid #999;
  padding: 1vh;
  margin: 0.5vh;
  border-radius: 50%;
}
.main_content .active {
  background-color: #999;
}
@media screen and (max-width: 768px) {
  .introduction {
    flex-direction: column; /* Chuyển navbar về dạng cột */
    align-items: flex-start;
  }
  .int-overview {
    width: 90vw;
    margin-bottom: 2px;
  }
}
/* detailed slide */
.main_content .title {
  padding: 60px 0 20px 0;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
}
.main_content .detailed {
  font-size: 2rem;
}

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 33.33%; /* Hiển thị 3 ảnh một lần */
  box-sizing: border-box;
}
.slide:nth-of-type(n + 2) {
  margin-left: 20px; /* Tạo khoảng cách cho các hình ảnh thứ hai trở đi */
}

.slide img {
  width: 100%;
  display: block;
}

.content-title button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
